{% extends "base.html" %}
{% load staticfiles %}
{% load bleach_tags %}
{% load treatment_slider %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>{{treatment.name}} Packages</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>

            <div class="uk-width-1-1">

                <article class="uk-article">
                    <div class="uk-grid" data-uk-grid-margin>

                        <div class="uk-width-medium-1-2">
                            <div data-uk-slideshow="{animation: 'scroll', duration: 700}">
                                <div class="uk-grid uk-grid-small" data-uk-grid-margin>

                                    <div class="uk-width-1-1">
                                        <div class="uk-slidenav-position">
                                            <ul class="uk-slideshow">
                                                <li>
                                                    <a href="#shop-singleproduct-01" class="uk-overlay">
                                                        <img src="{% static 'images/blowout-1.jpg' %}" alt="Blohaute {{treatment.name}}" width="720" height="auto">
                                                    
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#shop-singleproduct-02" class="uk-overlay">
                                                        <img src="{% static 'images/blowout-2.jpg' %}" alt="Blohaute {{treatment.name}}" width="720" height="auto">
                                                    
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#shop-singleproduct-03" class="uk-overlay">
                                                        <img src="{% static 'images/blowout-3.jpg' %}" alt="Blohaute {{treatment.name}}" width="720" height="auto">
                                                       
                                                    </a>
                                                </li>
                                            </ul>
                                            <a data-uk-slideshow-item="previous" href="#" class="uk-slidenav uk-slidenav-previous"></a>
                                            <a data-uk-slideshow-item="next" href="#" class="uk-slidenav uk-slidenav-next"></a>
                                        </div>

                                    </div>

                                    <div class="uk-width-1-3">
                                        <a href="#" class="uk-overlay" data-uk-slideshow-item="0">
                                            <img src="{% static 'images/blowout-1.jpg' %}" width="720" height="540" alt="Blowout Image Preview">
                                            <div class="uk-overlay-area"></div>
                                        </a>
                                    </div>

                                    <div class="uk-width-1-3">
                                        <a href="#" class="uk-overlay" data-uk-slideshow-item="1">
                                            <img src="{% static 'images/blowout-2.jpg' %}" width="720" height="540" alt="Blowout Image Preview">
                                            <div class="uk-overlay-area"></div>
                                        </a>
                                    </div>

                                    <div class="uk-width-1-3">
                                        <a href="#" class="uk-overlay" data-uk-slideshow-item="2">
                                            <img src="{% static 'images/blowout-3.jpg' %}" width="720" height="540" alt="Blowout Image Preview">
                                            <div class="uk-overlay-area"></div>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2">
                            <p class="uk-text-muted uk-h3">
                                {% if treatment.original_price %}<del>${{treatment.original_price|floatformat:"-2"}}</del>{% endif %}
                                <ins id="blowout_price">${{treatment.price|floatformat:"-2"}}</ins> Single {{treatment.name}}
                            </p>
                            <hr>
                            <p>{{treatment.description}}</p>
                            <hr>
                            <form class="uk-form uk-grid" method="post">
                                    {% csrf_token %}
                                <div class="uk-width-1-1" data-uk-margin>
                                    {% if add_to_cart_form.non_field_errors %}
                                        <div class="uk-alert uk-alert-danger ">
                                                {% for error in add_to_cart_form.non_field_errors %}
                                                    <p>{{error}}</p>
                                                {% endfor %}
                                        </div>
                                        {% endif %}

                                        <div class="uk-width-1-1" data-uk-margin>
                                             <label for="blowoutPackages"><b>{{treatment.name}} Packages</b></label><br />

                                            {{add_to_cart_form.package}}
                                        </div>
                                        <br/>
                                        <div class="uk-width-1-1" data-uk-margin>
                                             <label for="blowoutPackages"><b>{{treatement.name}} Memberships</b></label><br />
                                            {{add_to_cart_form.membership}}
                                        </div>
                                        <br />
                                    <div class="uk-button-group">
                                        <button class="uk-button uk-button-primary uk-button-large">Add to cart</button>
                                        <button class="uk-button uk-button-primary uk-button-large"><i class="uk-icon-star"></i></button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                </article>

            </div>

            <div class="uk-width-1-1">

            {% treatment_slider %}

        </div>
    </div>
</div>
{% endblock %}