DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

BOOKER_API_KEY = 'jwyNBIhb1SoH'
BOOKER_API_SECRET = 'hXis7ilIwc6P'
