{% load staticfiles %}

<li>
    <div class="uk-width-1-1 uk-panel uk-panel-box">
        {% if past_appointments %}        
        <table class="uk-table uk-table-middle uk-text-nowrap">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th class="uk-text-center" id="profile-service-table-head">Service</th>
                    <th class="uk-text-center">Date / Time</th>
                    <th class="uk-text-center">Payment Processed</th>
                </tr>
            </thead>


            <tbody>
                {% for appt in past_appointments %}
                <tr>
                    <td>
                        <a href="{% url 'treatment_detail' 'blowouts' %}">
                            <img src="{% static 'images/blohaute-next.jpg' %}" width="auto" height="75" alt="Product Image">
                        </a>
                    </td>
                    <td>
                        <a class="bh-text-uppercase uk-link-reset" href="{% url 'treatment_detail' 'blowouts' %}">{{ appt.treatment_name }}</a><br>
                    </td>
                    <td class="uk-text-center">
                        {{ appt.date }}<br />
                        {{ appt.time }}
                    </td>
                    <td class="uk-text-center">
                        $119(hardcoded)
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}

        <div class="uk-text-center">
            <h3 style="margin:0;">It looks like you've never had an appointment</h3><h4 style="margin:0;">But that can change</h4> <br/>
            <a href="{% url 'book' %}" class="uk-button bh-button-secondary">Book One Now</a>
        </div>
        {% endif %}
    </div>
</li>