{% load staticfiles %}

<li>
    <div class="uk-width-1-1 uk-panel uk-panel-box">
        {% if past_appointments %}
            <table class="uk-table uk-table-middle uk-text-nowrap appointment-table">
                <tbody>
                        {% for appt in past_appointments %}
                        <tr>
                            <td style="width:120px;">
                                <div class="calendar-icon">
                                    <div class="calendar-icon-month">{{appt.start_datetime|date:"M"}}</div>
                                    <div class="calendar-icon-date">{{appt.start_datetime|date:"j"}}</div>
                                    <div class="calendar-icon-time">{{appt.start_datetime|date:"g:i A"}}</div>
                                </div>
                            </td>
                            <td>
                                <ul class="appointment-list">
                                {% for appt_item in appt.treatments %}
                                    <li>
                                        <img src="{{appt_item.treatment.thumb_image_url}}" width=40 />
                                        One {{appt_item.treatment.name}} {% if appt_item.employee_name %} with {{appt_item.employee_name}} {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td class="uk-text-center">
                                ${{appt.final_total|floatformat:"-2"}}
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>    
        {% else %}

        <div class="uk-text-center">
            <h3 style="margin:0;">It looks like you've never had an appointment</h3><h4 style="margin:0;">We can fix that</h4>
            <br/><a href="{% url 'book' %}" class="uk-button bh-button-secondary">Book One Now</a>
        </div>
        {% endif %}

    </div>
</li>
