{% load staticfiles %}

<li>
    <div class="uk-width-1-1">
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-middle uk-text-nowrap">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class="uk-text-center" id="profile-service-table-head">Service</th>
                        <th class="uk-text-center">Date / Time</th>
                        <th class="uk-text-center">Reschedule / Cancel</th>
                    </tr>
                </thead>
                <tbody>
                    {% if appointments %}
                        {% for appt in appointments.upcoming %}
                        <tr>
                            <td>
                                <a href="{% url 'treatment_detail' 'blowouts' %}">
                                    <img src="{% static 'images/blohaute-next.jpg' %}" width="auto" height="75" alt="Product Image">
                                </a>
                            </td>
                            <td>
                                <a class="bh-text-uppercase uk-link-reset" href="{% url 'treatment_detail' 'blowouts' %}">{{ appt.treatment_name }}</a><br>
                            </td>
                            <td class="uk-text-center">
                                {{ appt.date }}<br />
                                {{ appt.time }}
                            </td>
                            <td class="uk-text-center"><a href="{% url 'reschedule' %}"><i class="uk-icon-calendar"></i></a><form class="uk-form" method="post" action=" {% url 'cancel' %}">{% csrf_token %}<input type="hidden" name="appointment_id" value="{{ appt.appointment_id }}">&nbsp;&nbsp;&nbsp;&nbsp;<button><i class="uk-icon-times"></i></button></form></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</li>
