{% load staticfiles %}

<li>
    <div class="uk-width-1-1 uk-panel uk-panel-box">
        {% if future_appointments %}
            <table class="uk-table uk-table-middle uk-text-nowrap appointment-table">
                <tbody>
                        {% for appt in future_appointments %}
                        <tr>
                            <td style="width:120px;">
                                <div class="calendar-icon">
                                    <div class="calendar-icon-month">{{appt.start_datetime|date:"M"}}</div>
                                    <div class="calendar-icon-date">{{appt.start_datetime|date:"j"}}</div>
                                    <div class="calendar-icon-time">{{appt.start_datetime|date:"g:i A"}}</div>
                                </div>
                            </td>
                            <td>
                                <ul class="appointment-list">
                                {% for appt_item in appt.treatments %}
                                    <li>
                                        <img src="{{appt_item.treatment.thumb_image_url}}" width=40 />
                                        One {{appt_item.treatment.name}} {% if appt_item.employee_name %} with {{appt_item.employee_name}} {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td class="uk-text-center">
                                <a href="{% url 'reschedule' %}" class="uk-button bh-button-secondary uk-margin-small-bottom ">
                                    <i class="uk-icon-calendar"></i> Reschedule
                                </a>

                                <form class="uk-form" method="post" action=" {% url 'cancel' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="appointment_id" value="{{ appt.appointment_id }}">
                                    <button class="uk-button bh-button-secondary"><i class="uk-icon-times"></i> Cancel</button>
                                    </form>
                            </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>    
        {% else %}

        <div class="uk-text-center">
            <h3>You don't have any scheduled appointments</h3> <br/>
            <a href="{% url 'book' %}" class="uk-button bh-button-secondary">Book One Now</a>
        </div>
        {% endif %}

    </div>
</li>
