{% load staticfiles %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ post.title|default_if_none:"New Post" }}</title>

	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	 <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<!-- Ghosty-ness markdowny-ness -->
	<script src="{% static 'js/ghostdown.js' %}"></script>
{#    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">#}
    <link href="{% static 'css/ghostdown.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'css/blog-admin.css' %}" media="all" rel="stylesheet">
	<script src="{% static 'js/jquery.ghostdown.js' %}"></script>
</head>
<body>
    <nav class="global-nav">

    </nav>
    <nav class="mobile-nav">

    </nav>
    <main class="page-content">

        <header class="post-title">
            {% render_field form.title placeholder="Your Post Title" %}
        </header>

	<div class="features">

		<section class="editor">
			<div class="outer">
				<div class="editorwrap">
					<section class="entry-markdown">
						<header class="floatingheader">Markdown</header>
						<section class="entry-markdown-content">
                            {{ form.content }}
						</section>
					</section>
					<section class="entry-preview active">
						<header class="floatingheader">
						  &nbsp;&nbsp; Preview <span class="entry-word-count">0 words</span>
						</header>
						<section class="entry-preview-content">
							<div class="rendered-markdown"></div>
						</section>
					</section>
				</div>
			</div>
		</section>

	</div>
    </main>
    <footer class="publish-bar">

    </footer>
	<script>
		$(document).ready(function () {
    		$(".editor").ghostDown();
		});
	</script>
</body>
</html>