{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}Forgot Password{% endblock %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Lost Your Password?</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <form method="POST" class="uk-grid" data-uk-grid-margin>
            {% if form.errors %}
                <div class="uk-width-1-1">
                    <div class="uk-alert uk-alert-danger ">
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p>{{error}}</p>
                            {% endfor %}
                        {% else %}
                            There was a problem processing the request. Please check the form and make sure that everything is filled out correctly.
                        {% endif %}

                    </div>
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="uk-large-width-1-3">
            {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='required' %}

            <label class="uk-form-label" for="form-first-name">First name associated with your account</label>
                {% render_field form.first_name class+="uk-form-large uk-width-1-1" placeholder="First name" %}
                {{form.first_name.errors}}
            <br/><br/>

            <label class="uk-form-label" for="form-email">Email address associated with your account</label>
                {% render_field form.email class+="uk-form-large uk-width-1-1" placeholder="Email address" %}
                {{form.first_name.errors}}


            <br/><br/>
            {% endwith %}
            <button class="uk-button uk-button-success">Send Password Reset Instructions</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}