<form class="uk-form uk-form" method="post">
    {% csrf_token %}
    <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
        {% if password_form.errors %}
            <div class="uk-width-1-1">
                <div class="uk-alert uk-alert-danger ">
                    {% if password_form.non_field_errors %}
                        {% for error in password_form.non_field_errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    {% else %}
                        There was a problem updating your password. Please check the form and make sure that everything is filled out correctly.
                    {% endif %}

                </div>
            </div>
        {% endif %}

        <div class="uk-width-large-1-2">
            <label class="uk-form-label" for="form-contact-name">Old Password</label>
            {% include "registration/field_snippet.html" with field=password_form.old_password %}
        </div>
    </div>
    <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
        <div class="uk-width-large-1-2">
            <label class="uk-form-label" for="form-contact-mail">New Password</label>
            {% include "registration/field_snippet.html" with field=password_form.new_password1 %}
        </div>
        <div class="uk-width-large-1-2">
            <label class="uk-form-label" for="form-contact-mail">New Password Confirmation</label>
            {% include "registration/field_snippet.html" with field=password_form.new_password2 %}
        </div>

    </div>
    <div class="uk-grid" data-uk-margin="{cls: 'uk-margin-top'}">
        <div class="uk-width-large-1-2">
            <label class="uk-form-label" for="form-contact-mail">&nbsp;</label>
            <button class="uk-button uk-button-success">Change Password</button>
        </div>
    </div>
</form> 
