{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Reschedule{% endblock %}

{% block content %}

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
            <div class="uk-width-1-1">
                    <h2 class="bh-headline-bottom-border"><span>Reschedule an Upcoming Appointment</span></h2>
            </div>
            <div class="uk-width-1-3">
                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                    <button class="uk-button">Available Services to Reschedule <i class="uk-icon-caret-down"></i></button>
                    <div style="" class="uk-dropdown">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li class="uk-nav-header">Upcoming Appointments</li>
                            <li><a href="#">11/16 - 2:30pm</a></li>
                            <li><a href="#">12/27 - 2:30pm</a></li>
                            <li><a href="#">04/30 - 2:30pm</a></li>
                        </ul>
                    </div>
                </div>
                <p><b>Selected: </b>11/16 - 2:30pm</p>
                <br />
            </div>
            <div class="uk-width-1-4">
                <form class="uk-form">
                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                        <button class="uk-button">Change Your Stylist <i class="uk-icon-caret-down"></i></button>
                        <div style="" class="uk-dropdown">
                            <ul class="uk-nav uk-nav-dropdown">
                                <li class="uk-nav-header">Stylists</li>
                                <li><a href="#">No thank you</a></li>
                                <li><a href="#">Amanda D.</a></li>
                                <li><a href="#">Amanda L.</a></li>
                                <li><a href="#">Morgan S.</a></li>
                                <li><a href="#">Tara</a></li>
                            </ul>
                        </div>
                    </div><br /><br />
                    <p><b>Selected: </b>Keep stylist</p>
                    <!-- 
                            var datepicker = $.UIkit.datepicker($('#profile_date_picker'), { format:'MM.DD.YYYY'}); 
                            URL: http://getuikit.com/docs/addons_datepicker.html
                    
                    -->
                    <label for="profile_time_picker">Choose A New Date:</label><br /> 
                    <input type="text" id="profile_time_picker" id="profile_date_picker" data-uk-timepicker="{format:'12h'}"><br />
                    <label for="profile_date_picker">Choose A New Time:</label><br />
                    <input type="text" id="profile_date_picker" data-uk-datepicker="{format:'MM.DD.YYYY'}">
                </form>
            </div>
            <div class="uk-width-1-3">
                <h2 class="bh-headline-bottom-border"><span>Address for Services</span></h2>
                <a href="">717 West Roscoe</a><br />
                <a href="">Chicago, IL</a><br />
                <a href="">60657</a><br /><br />
                <button class="uk-button uk-button-success">Change Address</button><br /><br />
                <button class="uk-button uk-button-success">Book Now <i class="uk-icon-calendar"></i></button>
            </div>
        </div>
    </div>
</div>

<br /><br /><br /><br />
{% endblock %}