{% load widget_tweaks %}
<h2 class="bh-headline-bottom-border"><span>Payment</span></h2>
<div class="uk-grid">
    <div class="uk-width-1-1">
        <label class="uk-form-label" for="card-number">{{checkout_form.name_on_card.label}}</label>
        {% render_field checkout_form.name_on_card class+="uk-form-large uk-width-1-1" %}
        {{checkout_form.name_on_card.errors}}
    </div>

    <div class="uk-width-1-1">
        <label class="uk-form-label" for="card-number">{{checkout_form.card_number.label}}</label>
        {% render_field checkout_form.card_number class+="uk-form-large uk-width-1-1" %}
        {{checkout_form.card_number.errors}}
    </div>
    <div class="uk-width-1-1 uk-width-small-1-2">
        <label class="uk-form-label" for="expiry_date">{{checkout_form.expiry_date.label}}</label>
        {% render_field checkout_form.expiry_date class+="uk-form-large" %}
        {{checkout_form.expiry_date.errors}}
    </div>

    <div class="uk-width-2-10">
        <label class="uk-form-label" for="card_code">{{checkout_form.card_code.label}}</label>
        {% if checkout_form.card_code.errors %}
            {% render_field checkout_form.card_code class+="uk-form-large" %}
        {% else %}
            {% render_field checkout_form.card_code class+="uk-form-large uk-width-1-1" %}
        {% endif %}
        {{checkout_form.card_code.errors}}
    </div>
    <div class="uk-width-3-10">
        <label class="uk-form-label" for="zip_code">{{checkout_form.billing_zip_code.label}}</label>
            {% render_field checkout_form.billing_zip_code class+="uk-form-large uk-width-1-1" %}
        {{checkout_form.billing_zip_code.errors}}
    </div>


</div>
