{% load staticfiles %}
{% load widget_tweaks %}
<h2 class="bh-headline-bottom-border"><span>Schedule Your Appointment</span></h2>
<div class="uk-grid" id="appointment-schedule">
	<div id="appointment-loading" class="loading-container">
		<div class="loading-bg"></div>
		<div class="loading-text">Checking Availability</div>
	</div>
    <div class="uk-width-small-10-10">Choose Your Stylist
    	{% render_field schedule_form.stylist %}
    </div>

	<div class="uk-width-small-6-10" id="booking-datepicker">Pick Date
		{% render_field schedule_form.date %}
		{{ schedule_form.date.errors}}
	</div>

	<div class="uk-width-small-4-10">Pick Time
		{% render_field schedule_form.time %}
		{{ schedule_form.time.errors}}
	</div>


</div>