{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	        <h1>About BloHaute</h1>
	    </div>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
		<article class="uk-article">
			<p class="bh-article-columns uk-text-justify"><span class="bh-dropcap">B</span>lohaute is Chicago’s premier beauty brand, employing the industry’s top professionals to give you that elegant look you’ve been waiting for. It’s our passion to make you feel good and to deliver the latest lust-have looks. As Chicago’s first on-demand beauty service, Blohaute promises convenience like you’ve never experienced. Simply sign-up for an appointment online, and you’ll be treated to a salon-like experience without ever having to leave your home. So what are you waiting for? Book an appointment today and treat yourself to a Blohaute.</p>

			<div class="uk-grid uk-margin-top" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">

			  	<div class="uk-width-medium-1-3">
			    	<div class="uk-panel uk-panel-box uk-text-center">
			    		<i class="bh-icon-large uk-icon-home"></i>
			      		<h3>In-home styling’s</h3>
			      		<p>Name the time and the place, even as late as an hour before! We are ready and prepared to take the best care of you in the comfort of your own home or venue of your choice.</p>
                        <a class="uk-button bh-button-secondary" href="{% url 'book' %}">See Our Services</a>
			    	</div>
			  	</div>

			  	<div class="uk-width-medium-1-3">
			    	<div class="uk-panel uk-panel-box uk-text-center">
			    		<i class="bh-icon-large uk-icon-scissors"></i>
			      		<h3>Industry-leading hair stylists</h3>
			      		<p>We only hire the best talent and it shows. We have had incredible feedback from our customers and our proud of our work.</p>
			      		<a class="uk-button bh-button-secondary" href="{% url 'stylists' %}">Meet Our Stylists</a>
			    	</div>
			  	</div>

			  	<div class="uk-width-medium-1-3">
			    	<div class="uk-panel uk-panel-box uk-text-center">
			    		<i class="bh-icon-large uk-icon-smile-o"></i>
			      		<h3>No ego. No drama. </h3>
			      		<p>We are only happy when you are happy. Our mission was to take the stress out of getting you to look fabulous for any occasion.</p>
			      		<a class="uk-button bh-button-secondary" href="{% url 'book' %}">Book Now</a>
			    	</div>
			  	</div>

			</div>
		</article>
	</div>
</div>

<div class="bh-position bh-position-light">
    <div class="uk-panel uk-panel-space uk-text-center">
        <h3>What People Think of Blohaute</h3>
        <blockquote>
	      	<p>Blohaute is convenient, cost-effective and beauty-effective. Anyone who wants beautiful hair done easily in the convenience of their own home should definitely contact Blohaute. Amanda, and her team, is amazing.</p>
	      	<small>Jena Hollensteiner</small>
	    </blockquote><br />
	    <blockquote>
	      	<p>Amanda is incredible! She is super friendly and personable! She listens to all of your wants and needs and does magical things with your hair...styles you never thought you could wear! Her in home service and what she does = PRICELESS!!!!</p>
	      	<small>Kelly Legamaro</small>
	    </blockquote>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	    	<div class="uk-grid" data-uk-grid-margin>

	        	<div class="uk-width-medium-1-5">
	        		<h3 class="uk-margin-top">Recent Styles</h3>
	        	</div>

	        	<div class="uk-width-medium-4-5">

		        	<div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://photos-g.ak.instagram.com/hphotos-ak-xfp1/10785115_330395787165902_1167866336_n.jpg" width="200" height="auto" alt="Client Logo" data-demo-style>
			            </div>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://photos-h.ak.instagram.com/hphotos-ak-xaf1/10818054_875819705775495_1766102351_n.jpg" width="200" height="auto" alt="Client Logo">
			            </div>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://photos-c.ak.instagram.com/hphotos-ak-xpa1/10424418_295975543927106_2034047788_n.jpg" width="200" height="auto" alt="Client Logo" data-demo-style>
			            </div>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://scontent-a-ord.cdninstagram.com/hphotos-xap1/t51.2885-15/926865_1497619350497157_1604890278_n.jpg" width="200" height="auto" alt="Client Logo" data-demo-style>
			            </div>

			        </div>

			    </div>

	        </div>
	    </div>
    </div>
</div>

{% endblock %}