{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	        <h1>About BloHaute</h1>
	    </div>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
		<article class="uk-article">
			<p class="bh-article-columns uk-text-justify"><span class="bh-dropcap">B</span>loHaute is a premium on demand blowout and hair service. We pride ourselves on our work and we love our clients! Schedule an appointment an hour before you need your hair done or two months in advance. We are here for you to help make you look amazing for all your major events! BloHaute is a service like none other and we currently service the Chicago-land area. If you are interested in learning more or have questions please visit our contact page. </p>

			<div class="uk-grid uk-margin-top" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">

			  	<div class="uk-width-medium-1-3">
			    	<div class="uk-panel uk-panel-box uk-text-center">
			    		<i class="bh-icon-large uk-icon-clock-o"></i>
			      		<h3>On Your Time</h3>
			      		<p>Name the time and the place, even as late as an hour before! We are ready and prepared to take the best care of you and your hair in the comfort of your own home or venue.</p>
                        <a class="uk-button bh-button-secondary" href="#">See Our Services</a>
			    	</div>
			  	</div>

			  	<div class="uk-width-medium-1-3">
			    	<div class="uk-panel uk-panel-box uk-text-center">
			    		<i class="bh-icon-large uk-icon-scissors"></i>
			      		<h3>The Best Stylists</h3>
			      		<p>We only hire the best talent and it shows. We have had incredible feedback from our customers and our proud of our work.</p>
			      		<a class="uk-button bh-button-secondary" href="#">Meet Our Stylists</a>
			    	</div>
			  	</div>

			  	<div class="uk-width-medium-1-3">
			    	<div class="uk-panel uk-panel-box uk-text-center">
			    		<i class="bh-icon-large uk-icon-check-circle-o"></i>
			      		<h3>Easy as 1-2-3</h3>
			      		<p>Booking is as easy as logging in, schedule your appointment, let your hair down and relax; We are on the way! </p>
			      		<a class="uk-button bh-button-secondary" href="#">Book Now</a>
			    	</div>
			  	</div>

			</div>
		</article>
	</div>
</div>

<div class="bh-position bh-position-light">
    <div class="uk-panel uk-panel-space uk-text-center">
        <h3>What People Think of Blohaute</h3>
        <blockquote>
	      	<p>BloHaute saved the day and was able to come to do my entire bridesmaides hair with just a days notice!<br> I had the best stylist and am now getting up-dos and blowouts before all my important events.</p>
	      	<small>Mellisa Sampson, 28</small>
	    </blockquote>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	    	<div class="uk-grid" data-uk-grid-margin>

	        	<div class="uk-width-medium-1-5">
	        		<h3 class="uk-margin-top">Recent Styles</h3>
	        	</div>

	        	<div class="uk-width-medium-4-5">

		        	<div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://photos-g.ak.instagram.com/hphotos-ak-xfp1/10785115_330395787165902_1167866336_n.jpg" width="200" height="auto" alt="Client Logo" data-demo-style>
			            </div>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://photos-h.ak.instagram.com/hphotos-ak-xaf1/10818054_875819705775495_1766102351_n.jpg" width="200" height="auto" alt="Client Logo">
			            </div>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://photos-c.ak.instagram.com/hphotos-ak-xpa1/10424418_295975543927106_2034047788_n.jpg" width="200" height="auto" alt="Client Logo" data-demo-style>
			            </div>

			            <div class="uk-width-1-2 uk-width-small-1-4 uk-text-center">
			                <img src="http://scontent-a-ord.cdninstagram.com/hphotos-xap1/t51.2885-15/926865_1497619350497157_1604890278_n.jpg" width="200" height="auto" alt="Client Logo" data-demo-style>
			            </div>

			        </div>

			    </div>

	        </div>
	    </div>
    </div>
</div>

{% endblock %}