{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1 class="uk-margin-remove">Book</h1>
            <p class="uk-text-muted bh-text-uppercase uk-margin-remove">Choose BloHaute services to book</p>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

            <div class="uk-width-medium-1-1">

                <ul class="uk-breadcrumb">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="uk-active"><span>Book</span></li>
                </ul>

                <article class="uk-article">
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-1-1">
                            <p>
                            The Blohaute look is our top-seller, and the perfect style for any occasion. First date. Office party. Girl’s night on the town. Like your best girlfriend, our stylists are trained to listen first, with an open ear and mind, before recommending the perfect style to fit your event. We’ll then use our perfected blow-dry technique to craft the perfect voluminous (alt. full-volume) look, adding a bounce to both your hair and your step. 
                            </p>
                        </div>

                        <div class="uk-width-small-1-2">
                            <div class="uk-panel">
                                <div class="bh-product-overlay">
                                    <a href="{% url 'blowouts' %}"></a>
                                    <img class="bh-product-overlay-img" src="{% static 'images/blowout-1.jpg' %}" width="720" height="540" alt="Blohaute Blowouts Book">
                                    <img class="bh-product-overlay-img-hover" src="{% static 'images/blowout-1.jpg' %}" width="720" height="540" alt="Blohaute Blowouts Book">
                                    <div class="bh-product-overlay-content">
                                        <div class="uk-button-group uk-width-1-1">
                                            <a href="{% url 'cart' %}" class="uk-button uk-button-large uk-width-8-10">Add to cart</a>
                                            <a href="{% url 'cart' %}" class="uk-button uk-button-large uk-width-2-10"><i class="uk-icon-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-float-left uk-margin-top">
                                    <h3 class="uk-margin-small-bottom uk-link-reset"><a href="#">Blowouts</a></h3>
                                    <p class="uk-margin-remove"><a href="#">Men,</a> <a href="#basic-braid">Add a Basic Braid for $15</a></p>
                                </div>
                                <span class="uk-float-right uk-margin-top uk-text-large">$50</span>
                            </div>
                        </div>

                        <div class="uk-width-small-1-2">
                            <div class="uk-panel">
                                <div class="uk-panel-badge uk-badge uk-badge-danger">Sale</div>
                                <div class="bh-product-overlay">
                                    <a href="{% url 'upstyles' %}"></a>
                                    <img class="bh-product-overlay-img" src="{% static 'images/upstyle-1.jpg' %}" width="720" height="540" alt="Blohaute Upstyle Book">
                                    <img class="bh-product-overlay-img-hover" src="{% static 'images/upstyle-1.jpg' %}" width="720" height="540" alt="Blohaute Upstyle Book">
                                    <div class="bh-product-overlay-content">
                                        <div class="uk-button-group uk-width-1-1">
                                            <a href="{% url 'cart' %}" class="uk-button uk-button-large uk-width-8-10">Add to cart</a>
                                            <a href="{% url 'cart' %}" class="uk-button uk-button-large uk-width-2-10"><i class="uk-icon-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-float-left uk-margin-top">
                                    <h3 class="uk-margin-small-bottom uk-link-reset"><a href="#">Upstyles</a></h3>
                                </div>
                                <span class="uk-float-right uk-margin-top uk-text-large">
                                    <del>$49.90</del>
                                    <ins>$39.90</ins>
                                </span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="uk-article">
                    <div class="uk-grid" data-uk-grid-margin>
                     <div class="uk-width-small-1-2">
                            <div class="uk-panel">
                                <div class="bh-product-overlay">
                                    <a href="{% url 'braids' %}"></a>
                                    <img class="bh-product-overlay-img" src="{% static 'images/braid-1.jpg' %}" width="720" height="540" alt="Blohaute Braid Book">
                                    <img class="bh-product-overlay-img-hover" src="{% static 'images/braid-1.jpg' %}" width="720" height="540" alt="Blohaute Braid Book">
                                    <div class="bh-product-overlay-content">
                                        <div class="uk-button-group uk-width-1-1">
                                            <a href="{% url 'cart' %}" class="uk-button uk-button-large uk-width-8-10">Add to Car</a>
                                            <a href="{% url 'cart' %}" class="uk-button uk-button-large uk-width-2-10"><i class="uk-icon-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-float-left uk-margin-top">
                                    <h3 class="uk-margin-small-bottom uk-link-reset"><a href="{% url 'cart' %}">Advanced Braid</a></h3>
                                </div>
                                <span class="uk-float-right uk-margin-top uk-text-large">$80</span>
                            </div>
                        </div>

                        <div class="uk-width-small-1-2">
                            <div class="uk-panel">
                                <div class="bh-product-overlay">
                                    <a href="{% url 'contact' %}"></a>
                                    <img class="bh-product-overlay-img" src="http://www.aajproperty.com/blog/wp-content/uploads/2014/08/Permanent-Hair-Straightening.jpg" width="720" height="540" alt="Blohaute Keratin Book" />
                                    <img class="bh-product-overlay-img-hover" src="http://www.aajproperty.com/blog/wp-content/uploads/2014/08/Permanent-Hair-Straightening.jpg" width="720" height="540" alt="Blohaute Keratin Book" />
                                    <div class="bh-product-overlay-content">
                                        <div class="uk-button-group uk-width-1-1">
                                            <a href="{% url 'contact' %}" class="uk-button uk-button-large uk-width-8-10">Contact to Book</a>
                                            <a href="{% url 'contact' %}" class="uk-button uk-button-large uk-width-2-10"><i class="uk-icon-phone"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-float-left uk-margin-top">
                                    <h3 class="uk-margin-small-bottom uk-link-reset"><a href="{% url 'contact' %}">Brazilian Keratin Treatment</a></h3>
                                    <p class="uk-margin-remove"><a href="{% url 'contact' %}">Please email or call us to book this treatment.</a></p>
                                </div>
                                <span class="uk-float-right uk-margin-top uk-text-large">$85</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="uk-article">
                    <div class="uk-grid" id="basic-braid" data-uk-grid-margin>
                        <div class="uk-width-small-1-2">
                            <div class="uk-panel">
                                <div class="bh-product-overlay">
                                    <a href="{% url 'braids' %}"></a>
                                    <img class="bh-product-overlay-img" src="{% static 'images/braid.jpg' %}" width="720" height="540" alt="Blohaute Braids Book">
                                    <img class="bh-product-overlay-img-hover" src="{% static 'images/braid.jpg' %}" width="720" height="540" alt="Blohaute Braids Book">
                                    <div class="bh-product-overlay-content">
                                        <div class="uk-button-group uk-width-1-1">
                                            <a href="shop-cart.html" class="uk-button uk-button-large uk-width-8-10">Add to cart</a>
                                            <a href="#" class="uk-button uk-button-large uk-width-2-10"><i class="uk-icon-star"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-float-left uk-margin-top">
                                    <h3 class="uk-margin-small-bottom uk-link-reset"><a href="#">Basic Braid Add On</a></h3>
                                    <p class="uk-margin-remove"><a href="{% url 'cart' %}">Add to any blowout or upstyle for just $15</a></p>
                                </div>
                                <span class="uk-float-right uk-margin-top uk-text-large">$15</span>
                            </div>
                        </div>
                    </div>
                </article>

            </div>

        </div>
    </div>
</div>
{% endblock %}