{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Cart{% endblock %}
{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Cart</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-1-1">
                    <div class="uk-overflow-container">
                        <table class="uk-table uk-table-middle uk-text-nowrap">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>Service</th>
                                    <th class="uk-text-center">Quantity</th>
                                    <th class="uk-text-center">Subtotal</th>
                                    <th class="uk-text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if cart.is_empty %}
                                <tr>
                                <td colspan="6">There are no items in the shopping cart. Add items to your cart to book and schedule your appointment(s).</td>
                                </tr>
                                {% else %}
                                {% for item in cart %}
                                <tr>
                                    <td>
                                        <a href="{% url 'treatment_detail' treatment.slug %}">
                                            <img src="{{treatment.thumb_image_url}}" width="100" height="75" alt="{{treatment.name}} Cart Item">
                                        </a>
                                    </td>
                                    <td>
                                        <a class="bh-text-uppercase uk-link-reset" href="shop-singleproduct.html">{{ item.product.cart_description }}</a><br>
                                    </td>
                                    <td class="uk-text-center">
                                        <form class="uk-form" action="{% url 'update_quantity' %}" method="POST">
                                            {% csrf_token %}
                                            <input class="uk-form-width-mini" type="number" value={{item.quantity}} min=0 name="quantity">                                               
                                            <input class="" type="hidden" value={{item.pk}} name="pk">                                               
                                            <button class="uk-button">Update</button>
                                        </form>
                                    </td>
                                    <td class="uk-text-center">${{ item.total_price|floatformat:"-2" }} {{ item.product.price_units }}</td>
                                    <td class="uk-text-center"><a href="#" data-pk="{{item.pk}}" class="cart-delete-item"><i class="uk-icon-times"></i></a></td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="6">
                                        <form class="uk-form uk-grid" data-uk-margin>
                                            <div class="uk-width-1-2">
                                                <input type="text" placeholder="Enter coupon...">
                                                <button class="uk-button">Apply Coupon</button>
                                            </div>
                                            <div class="uk-width-1-2 uk-text-right">
                                                <a href="{% url 'checkout' %}" class="uk-button uk-button-primary">Checkout</a>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                           
                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="uk-push-1-2 uk-width-medium-1-2">
                    <div class="uk-panel uk-panel-box uk-panel-header">
                        <h3 class="uk-panel-title">Carts Total</h3>
                        <span class="uk-float-left">Cart Subtotal</span>
                        <span class="uk-float-right">${{cart.cart.total_price|floatformat:"-2"}}</span>
                        <br><br>
                        <span class="uk-float-left">Order Total Price</span>
                        <span class="uk-float-right">${{cart.cart.total_price|floatformat:"-2"}}</span>
                        <br />
                        <hr />
                        <span class="uk-float-left"><i class="uk-icon-money uk-text-large"></i> ALL TIPS SHOULD BE MADE IN CASH <i class="uk-icon-money uk-text-large"></i><br />Also stylists do not carry cash on so we can not break large bills</span>

                        <div id="shop-cart-shipping" class="uk-modal">
                            <div class="uk-modal-dialog">
                                <form class="uk-form">
                                    <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
                                        <div class="uk-width-medium-1-1">
                                            <select>
                                                <option>United Kingdom (UK)</option>
                                                <option>United Stated (US)</option>
                                            </select>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <input type="text" placeholder="State / county" class="uk-form-large uk-width-1-1">
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <input type="text" placeholder="Postcode / ZIP" class="uk-form-large uk-width-1-1">
                                        </div>
                                        <div class="uk-width-1-1">
                                            <button class="uk-button uk-button-primary uk-float-right">Update Totals</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </article>

    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$( document ).ready(function() {
    $('.cart-delete-item').click(function(e) {
        e.preventDefault();

        data = {'pk': $(this).data('pk')}
        var form = document.createElement('form');
        form.setAttribute('action', '{% url 'remove_cart_item' %}');
        form.setAttribute('method', 'POST');
        var input1 = document.createElement('input');
        input1.value = $(this).data('pk');
        input1.name = 'pk'
        var input2 = document.createElement('input');
        input2.value =  getCookie('csrftoken');
        input2.name = 'csrfmiddlewaretoken';
        form.appendChild(input1);
        form.appendChild(input2);
        form.submit()
    });
});
</script>
{% endblock %}