{% extends "minimal_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block page_title %}Checkout{% endblock %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Checkout</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">

        <ul class="uk-breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'book' %}">Book</a></li>
            <li class="uk-active"><span>Checkout</span></li>
        </ul>

        <article class="uk-article">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    {% if user.is_authenticated %}
                    <div class="uk-alert uk-margin-bottom-remove uk-alert-success">
                        <i class="uk-icon-check uk-margin-right"></i>Welcome back!
                    </div>

                    {% else %}
                    <div class="uk-alert uk-margin-bottom-remove">
                        <i class="uk-icon-info-circle uk-margin-right"></i>Returning customer? <br class="uk-visible-small"><a href="#" data-uk-toggle="{target:'#checkout-login', animation: 'uk-animation-fade'}">Click here to login</a>
                    </div>
                    <div class="uk-panel uk-panel-space uk-hidden" id="checkout-login">
                        <form method="POST" class="uk-form" id="login-form">
                            {% csrf_token %}
                            <div class="uk-grid" data-uk-margin="{cls:'uk-margin-top'}">
                                {% if login_form.errors %}
                                    <div class="uk-width-1-1">
                                        <div class="uk-alert uk-alert-danger ">
                                            {% if login_form.non_field_errors %}
                                                {% for error in login_form.non_field_errors %}
                                                    <p>{{error}}</p>
                                                {% endfor %}
                                            {% else %}
                                                There was a problem signing in. Please check the form and make sure that everything is filled out correctly.
                                            {% endif %}

                                        </div>
                                    </div>
                                {% endif %}

                                <div class="uk-width-1-1 uk-text-center">
                                    <h3>I'm already a member</h3>
                                    <p>Welcome back!</p>
                                </div>
                                    <div class="uk-width-1-2">
                                        {% include "registration/field_snippet.html" with field=login_form.username %}
                                    </div>
                                    <div class="uk-width-1-2">
                                        {% include "registration/field_snippet.html" with field=login_form.password %}
                                    </div>
                                <div class="uk-width-1-1">
                                    <button class="uk-button uk-text-center">Login</button>
                                        <label class="uk-margin-left">{{login_form.remember_me}} {{login_form.remember_me.label}}</label>


                                    <a class="uk-margin-left" href="{% url 'password' %}">Lost Password?</a>
                                </div>
                            </div>
                        </form>
                     </div>
                </div>
                  {% endif %}

            {% with WIDGET_ERROR_CLASS='uk-form-danger' WIDGET_REQUIRED_CLASS='required' %}

            <form method="POST" class="uk-form">
                <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        {% include 'form_snippets/appointment_location.html' %}
                    </div>
                    <div class="uk-width-medium-1-2">
                        {% include 'form_snippets/appointment_schedule.html' %}
                    </div>
                </div>

                <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        {% include 'form_snippets/appointment_payment.html' %}
                    </div>
                    <div class="uk-width-medium-1-2">
                        {% include 'form_snippets/order_summary.html' %}
                    </div>
                </div>
            </form>   
            {% endwith %}   

{#                        </div>#}
{#                    </div>#}
{#                </div>#}


            </div>
        </article>

    </div>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'js/pickadate/themes/classic.css' %}">
<link rel="stylesheet" href="{% static 'js/pickadate/themes/classic.date.css' %}">
<link rel="stylesheet" href="{% static 'js/pickadate/themes/classic.time.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/pickadate/picker.js' %}"></script>
<script src="{% static 'js/pickadate/picker.date.js' %}"></script>
<script src="{% static 'js/pickadate/picker.time.js' %}"></script>
<script src="{% static 'js/pickadate/legacy.js' %}"></script>


<script>
$(document).ready(function() {

    $("#id_checkout-date").pickadate({
        disable: {{ unavailable_days }},
        format: 'ddd mmmm d yyyy',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        onSet: function(context) {
            $.ajax({
                type: 'POST',
                url: '/timesforday',
                dataType: 'json',
                data: {
                    date: $("#id_checkout-date_hidden").val()
                },
                success: function(data){
                    timePicker.set('disable', data);
            });
        }
    });

    var timeInput = $('#id_checkout-time').pickatime({
        formatSubmit: 'HH:i',
        hiddenName: true
    });

    var timePicker = timeInput.pickatime('picker');
    timePicker.set('disable', true); //start with all times disabled

});

</script>
{% endblock %}