{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="home_main_image">
    <img src="{% static 'images/fbg.jpg' %}" id="home-image" alt="Blohaute Home Page">
    <div class="home_image_overlay">
        <p class="bh-teaser-subtitle-primary bh-text-uppercase uk-animation-slide-top bh-animation-delay-300">Treat yourself, don't cheat yourself</p>
        <h1 class="bh-teaser-headline uk-margin-remove uk-animation-fade bh-animation-delay-200">Lust-have styles</h1>
        <p class="bh-teaser-subtitle-secondary bh-text-uppercase uk-visible-large uk-animation-slide-bottom bh-animation-delay-300">to your front door</p>
        <p class="uk-margin-bottom-remove">
            <a href="{% url 'book' %}" class="uk-button uk-button-large bh-button-secondary uk-animation-fade bh-animation-delay-500">Book Now</a>
        </p>
    </div>
</div>
<!--
<div class="bh-position-slideshow" data-uk-slideshow="{animation: 'fade', duration: 700}">
    <ul class="uk-slideshow bh-slideshow">
        <li>
            <img src="{% static 'images/fbg.jpg' %}" width="1200" height="auto" alt="Slideshow Image" data-demo-style>
            <div class="uk-caption uk-text-center">
                <div class="uk-height-1-1 uk-vertical-align">
                    <div class="bh-teaser uk-vertical-align-middle">
                        <p class="bh-teaser-subtitle-primary bh-text-uppercase uk-animation-slide-top bh-animation-delay-300">Treat yourself, don't cheat yourself</p>
                        <h1 class="bh-teaser-headline uk-margin-remove uk-animation-fade bh-animation-delay-200">Lust-have styles</h1>
                        <p class="bh-teaser-subtitle-secondary bh-text-uppercase uk-visible-large uk-animation-slide-bottom bh-animation-delay-300">to your front door</p>
                        <p class="uk-margin-bottom-remove">
                            <a href="{% url 'book' %}" class="uk-button uk-button-large bh-button-secondary uk-animation-fade bh-animation-delay-500">Book Now</a>
                        </p>
                    </div>
                </div>
            </div>
            <a data-uk-slideshow-item="previous" href="#" class="uk-slidenav uk-slidenav-previous uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src="{% static 'images/braid_next.jpg' %}" width="120" height="120">
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom uk-visible-large">Simple. Beautiful. Hair.</h4>
                    <p class="uk-margin-remove uk-visible-large">The one of a kind service.</p>
                </div>
            </a>
            <a data-uk-slideshow-item="next" href="#" class="uk-slidenav uk-slidenav-next uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src="{% static 'images/braid_next.jpg' %}" width="120" height="120">
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom uk-visible-large">Simple. Beautiful. Hair.</h4>
                    <p class="uk-margin-remove uk-visible-large">The one of a kind service.</p>
                </div>
            </a>
        </li>
        <li>
            <img src="{% static 'images/braid_home_bw.jpg' %}" width="1200" height="auto" alt="Slideshow Image" data-demo-style>

            <div class="uk-caption uk-text-center">
                <div class="uk-height-1-1 uk-vertical-align">
                    <div class="uk-vertical-align-middle">
                        <p class="bh-teaser-subtitle-primary bh-text-contrast-color bh-text-uppercase uk-animation-slide-top bh-animation-delay-300">Styles that don’t expire</p>
                        <h1 class="bh-teaser-headline bh-text-contrast-color uk-margin-remove uk-animation-fade bh-animation-delay-200">Simple. Beautiful. Hair.</h1>
                        <p class="bh-teaser-subtitle-secondary bh-text-contrast-color bh-text-uppercase uk-visible-large uk-animation-slide-bottom bh-animation-delay-300">Flaunt it</p>
                        <p>
                            <a href="{% url 'treatment_detail' 'blowouts' %}" class="uk-button uk-button-large bh-button-secondary bh-button-secondary-contrast uk-margin-right uk-animation-fade bh-animation-delay-500">Schedule A Blowout</a> 
                        </p>
                    </div>
                </div>
            </div>
            <a data-uk-slideshow-item="previous" href="#" class="uk-slidenav uk-slidenav-previous uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src="{% static 'images/blohaute-next.jpg' %}" width="120" height="120" data-demo-style>
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom">BloHaute</h4>
                    <p class="uk-margin-remove">Treat yourself, don't cheat yourself</p>
                </div>
            </a>
            <a data-uk-slideshow-item="next" href="#" class="uk-slidenav uk-slidenav-next uk-hidden-small">
                <div class="bh-slideshow-preview">
                    <img class="bh-slideshow-preview-image" src="{% static 'images/blohaute-next.jpg' %}" width="120" height="120" data-demo-style>
                    <h4 class="uk-text-muted uk-margin-top-remove uk-margin-small-bottom uk-visible-large">BloHaute</h4>
                    <p class="uk-margin-remove uk-visible-large">Treat yourself, don't cheat yourself</p>
                </div>
            </a>
        </li>
    </ul>
</div>
-->
<div class="bh-position bh-position-light">
    <div class="uk-container uk-container-center">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-small-1-2 uk-width-medium-1-3">
                <div class="uk-panel">
                    <div class="uk-grid">
                        <div class="uk-width-1-6">
                            <i class="uk-icon-book uk-icon-medium"></i>
                        </div>
                        <div class="uk-width-5-6">
                            <h5 class="uk-display-inline-block uk-margin-bottom-remove uk-margin-small-right">Book it</h5><br class="uk-hidden-large">Easy online booking
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-small-1-2 uk-width-medium-1-3">
                <div class="uk-panel">
                    <div class="uk-grid">
                        <div class="uk-width-1-6">
                            <i class="uk-icon-scissors uk-icon-medium"></i>
                        </div>
                        <div class="uk-width-5-6">
                            <h5 class="uk-display-inline-block uk-margin-bottom-remove uk-margin-small-right">Get Pampered</h5><br class="uk-hidden-large">We come to you
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-small-1-2 uk-width-medium-1-3">
                <div class="uk-panel">
                    <div class="uk-grid">
                        <div class="uk-width-1-6">
                            <i class="uk-icon-heart-o uk-icon-medium"></i>
                        </div>
                        <div class="uk-width-5-6">
                            <h5 class="uk-display-inline-block uk-margin-bottom-remove uk-margin-small-right">Flaunt it</h5><br class="uk-hidden-large">Show off your new look
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1 class="home_subhead">This is blohaute.</h1>
            <p class="home_subtext">It’s as simple as one, two, three. Book an appointment online and then wait for your dedicated style expert to arrive at your door. No need to leave the comfort of your home. Your stylist will treat you to your requested style and you’ll be free to flaunt your new look in no time flat.<br /><br />Blohaute is convenience like you’ve never experienced.</p>
        </div>
    </div>
</div>
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">

            <div class="uk-width-1-1">
                <article class="uk-article">
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                                <h1 class="uk-article-title">Blowouts</h1>
                                <p class="uk-article-lead">The look that put us on the map.</p>
                                <p class="uk-margin-bottom">The Blohaute is our top-seller, and the perfect style for any occasion. First date. Office party. Girl’s night on the town.</p>
                                <a href="{% url 'treatment_detail' 'blowouts' %}" class="uk-button bh-button-secondary">Blowout Services</a>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="{% static 'images/blowout1.jpg' %}" width="800" height="400" alt="Collection Image" data-demo-style>
                            </div>
                        </div>

                    </div>

                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="{% static 'images/braid-1.jpg' %}" width="800" height="400" alt="Collection Image" data-demo-style>
                                
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                                <h1 class="uk-article-title">Braids</h1>
                                <p class="uk-article-lead">A twist on the classics.</p>
                                <p class="uk-margin-bottom">This look isn’t just for laundry day anymore. Braids are HOT, and Blohaute has perfected the classic styles you’ve come to love, while adding a few trendy new braids that are sure to make all your friends jelly.</p>
                                <a href="{% url 'treatment_detail' 'braids' %}" class="uk-button bh-button-secondary">Braid Services</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>
</div>
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-grid">

            <div class="uk-width-1-1">
                <img src="{% static 'images/home-banner.jpg' %}" alt="Blohaute App" />
            </div>
        </div>
    </div>
</div>
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1 class="home_subhead">That is just the beginning.</h1>
            <p class="home_subtext">Head to our services page to see all the on demand services we offer.</p>
            <center>
                <a href="{% url 'book' %}" class="uk-button uk-margin-right-small bh-margin-top-only-small">Services</a>
            </center>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-panel uk-panel-space uk-text-center">
        <form class="uk-form">
            Sign up for the style newsletter
            <br class="uk-visible-small">
            <input class="uk-form-large uk-margin-small-left uk-margin-small-right bh-margin-top-only-small" type="text" placeholder="Enter your email...">
            <br class="uk-visible-small">
            <a href="#" class="uk-button uk-margin-right-small bh-margin-top-only-small">Subscribe</a>
        </form>
    </div>
</div>
{% endblock %}

