{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Products{% endblock %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Products</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-margin" data-shufflr-init="{animation:'fadeIn'}">
                <div class="uk-align-center uk-text-center">
                    <h2>Get the products used by our stylists</h2>
                    <a href="http://www.fave4.com" target="_blank" data-uk-modal>
                        <img src="http://static.wixstatic.com/media/227d00_8221c4a5f003553e16f0b04fad630c98.png_srz_p_330_104_75_22_0.50_1.20_0.00_png_srz" width="400" alt="Fave4">
                    </a>
                    <h3>In partnership with</h3>
                    <a href="http://http://shop.xilebeauty.com" target="_blank" data-uk-modal>
                        <img src="{% static "images/xile-logo.png" %}" alt="XILE Beauty">
                    </a>

                </div>
                <div class="uk-grid uk-grid-small uk-grid-width-small-1-2 uk-grid-width-medium-1-4 shufflr-collection uk-container-center">
                    <div class="uk-hidden-small">&nbsp;</div>
                    <div data-button_background_color="9f3247" data-button_text_color="ffffff" data-buy_button_text="Buy now" data-display_size="regular" data-embed_type="product" data-has_image="true" data-product_handle="blohaute-braids" data-product_name="BloHaute Braids" data-redirect_to="product" data-shop="xile-beauty.myshopify.com"></div>

                    <div data-button_background_color="9f3247" data-button_text_color="ffffff" data-buy_button_text="Buy now" data-display_size="regular" data-embed_type="product" data-has_image="true" data-product_handle="blohaute-glam" data-product_name="BloHaute Glam" data-redirect_to="product" data-shop="xile-beauty.myshopify.com"></div>
                </div>
                <div class="uk-grid uk-grid-small uk-grid-width-small-1-2 uk-grid-width-medium-1-4 shufflr-collection uk-container-center">
                    <div class="uk-hidden-small">&nbsp;</div>
                    <div data-button_background_color="9f3247" data-button_text_color="ffffff" data-buy_button_text="Buy now" data-display_size="regular" data-embed_type="product" data-has_image="true" data-product_handle="blohaute-tousled" data-product_name="BloHaute Tousled" data-redirect_to="product" data-shop="xile-beauty.myshopify.com"></div>

                    <div data-button_background_color="9f3247" data-button_text_color="ffffff" data-buy_button_text="Buy now" data-display_size="regular" data-embed_type="product" data-has_image="true" data-product_handle="blohaute-waves" data-product_name="BloHaute Waves" data-redirect_to="product" data-shop="xile-beauty.myshopify.com"></div>

                    <script type="text/javascript">
                        document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');
                    </script>

                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}