{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Services</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">

                <div class="uk-width-small-1-2 uk-width-medium-1-3">
                    <div class="uk-panel" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-globe uk-icon-medium uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
                                <h2 class="uk-h3">Online</h2>
                                <p>Booking made easy. Book and schedule on your own time. Add items to your cart, checkout, and schedule your appointment.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-small-1-2 uk-width-medium-1-3">
                    <div class="uk-panel" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-car uk-icon-medium uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
                                <h2 class="uk-h3">On Demand</h2>
                                <p>On your time. Our online scheduling lets you pick when works best for you, and better yet we even come to you.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-small-1-2 uk-width-medium-1-3">
                    <div class="uk-panel">
                        <div class="uk-grid" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-eye uk-icon-medium uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
                                <h2 class="uk-h3">All the Looks</h2>
                                <p>Name the look, and we will nail it.  Blowouts, braids, and upstyles are just the beginning of what we can do.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="uk-grid-divider">

            <div class="uk-grid">

               <article class="uk-article">
                {% for treatment in object_list %}
                    {% if forloop.counter|divisibleby:2 %}
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="http://photos-g.ak.instagram.com/hphotos-ak-xfp1/10785115_330395787165902_1167866336_n.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                                <h1 class="uk-article-title">{{treatment.plural_name}}</h1>
                                <p class="uk-article-lead">{{treatment.list_tagline}}</p>
                                <p class="uk-margin-bottom">{{treatment.decription}}</p>
                                <a href="{% url 'book' %}" class="uk-button bh-button-secondary">Book a {{treatment.name}}</a>
                                <a href="{% url 'treatment_detail' treatment.slug %}" class="uk-button bh-button-secondary">More Options</a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                                <h1 class="uk-article-title">Blowouts</h1>
                                <p class="uk-article-lead">The look that put us on the map.</p>
                                <p class="uk-margin-bottom">The Blohaute is our top-seller, and the perfect style for any occasion. First date. Office party. Girl’s night on the town.</p>
                                <a href="{% url 'book' %}" class="uk-button bh-button-secondary">Book a Blowout</a>
                                <a href="{% url 'treatment_detail' treatment.slug %}" class="uk-button bh-button-secondary">More Options</a>

                            </div>
                        </div>
                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="{% static 'images/blowout1.jpg' %}" width="800" height="400" alt="Collection Image" data-demo-style>                            
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

           
<!-- 
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                                <h1 class="uk-article-title">Upstyles</h1>
                                <p class="uk-article-lead">Turn heads.</p>
                                <p class="uk-margin-bottom">Blohaute loves upstyles and our stylists are able to hit any look you want. Ask and you shall receive</p>
                                <a href="{% url 'book' %}" class="uk-button bh-button-secondary">Book an Upstyle</a>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="{% static 'images/upstyle1.jpg' %}" width="800" height="400" alt="Collection Image" data-demo-style>
                               
                            </div>
                        </div>
                    </div>
 --><!--                     <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="http://www.aajproperty.com/blog/wp-content/uploads/2014/08/Permanent-Hair-Straightening.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                             
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box" data-uk-scrollspy="{cls:'uk-animation-slide-bottom', repeat: true}">
                                <h1 class="uk-article-title">Brazilian Keratin Treatment</h1>
                                <p class="uk-article-lead">Call or Email to Book</p>
                                <p class="uk-margin-bottom">A braid works for any occasion and we do them all. From your standard french braid to the more complex braiding styles, we are trained to braid anything you can dream up.</p>
                                <a href="{% url 'contact' %}" class="uk-button bh-button-secondary">Book a Braid</a>
                            </div>
                        </div>
 -->                    </div>
                </article>
            <hr class="uk-grid-divider">
        </article>
    </div>
</div>
{% endblock %}