{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1>Services</h1>
        </div>
    </div>
</div>

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">

                <div class="uk-width-small-1-2 uk-width-medium-1-3">
                    <div class="uk-panel">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-rocket uk-icon-medium uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
                                <h2 class="uk-h3">Fast & Lightweight</h2>
                                <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-small-1-2 uk-width-medium-1-3">
                    <div class="uk-panel">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-cog uk-icon-medium uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
                                <h2 class="uk-h3">Newest Technology</h2>
                                <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-width-small-1-2 uk-width-medium-1-3">
                    <div class="uk-panel">
                        <div class="uk-grid">
                            <div class="uk-width-1-6">
                                <i class="uk-icon-code uk-icon-medium uk-text-primary"></i>
                            </div>
                            <div class="uk-width-5-6">
                                <h2 class="uk-h3">Clean & Modern Code</h2>
                                <p>Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="uk-grid-divider">

            <div class="uk-grid">

               <article class="uk-article">
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box">
                                <h1 class="uk-article-title">Blowouts</h1>
                                <p class="uk-article-lead">What made us famous.</p>
                                <p class="uk-margin-bottom">Experience a blowout like never before and better yet, in the comfort of your own home or venue. Click to learn more about our blowout services!</p>
                                <a href="shop.html" class="uk-button bh-button-secondary">Book a Blowout</a>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="https://static.pexels.com/wp-content/uploads/2014/09/funny-girl-hairs-2867-825x550.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                                <div class="uk-overlay-area">
                                    <div class="uk-overlay-area-content">
                                        <h1 class="bh-text-contrast-color" data-uk-scrollspy="{cls:'uk-animation-fade'}">Blowout Styles Gallery</h1>
                                        <a href="shop.html" class="uk-button bh-button-secondary bh-button-secondary-contrast" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="https://static.pexels.com/wp-content/uploads/2014/05/girl-hair-meadow-403-827x550.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                                <div class="uk-overlay-area">
                                    <div class="uk-overlay-area-content">
                                        <h1 data-uk-scrollspy="{cls:'uk-animation-fade'}">Braid Styles Gallery</h1>
                                        <a href="shop.html" class="uk-button bh-button-secondary bh-button-secondary" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box">
                                <h1 class="uk-article-title">Braids</h1>
                                <p class="uk-article-lead">A braid you can't pass up.</p>
                                <p class="uk-margin-bottom">A braid works for any occasion and we do them all. From your standard french braid to the more complex braiding styles, we are trained to braid anything you can dream up.</p>
                                <a href="shop.html" class="uk-button bh-button-secondary">Book a Braid</a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box">
                                <h1 class="uk-article-title">Upstyles</h1>
                                <p class="uk-article-lead">Some upstyles text.</p>
                                <p class="uk-margin-bottom">Experience a blowout like never before and better yet, in the comfort of your own home or venue. Click to learn more about our blowout services!</p>
                                <a href="shop.html" class="uk-button bh-button-secondary">Book an Upstyle</a>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="https://static.pexels.com/wp-content/uploads/2014/09/funny-girl-hairs-2867-825x550.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                                <div class="uk-overlay-area">
                                    <div class="uk-overlay-area-content">
                                        <h1 class="bh-text-contrast-color" data-uk-scrollspy="{cls:'uk-animation-fade'}">Blowout Styles Gallery</h1>
                                        <a href="shop.html" class="uk-button bh-button-secondary bh-button-secondary-contrast" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin data-uk-grid-match>

                        <div class="uk-width-medium-1-2 uk-width-large-3-5 bh-grid-img-cover">
                            <div class="uk-overlay bh-overlay-content-blank uk-clearfix">
                                <img class="bh-img-height-1-1 uk-float-right" src="https://static.pexels.com/wp-content/uploads/2014/05/girl-hair-meadow-403-827x550.jpg" width="800" height="400" alt="Collection Image" data-demo-style>
                                <div class="uk-overlay-area">
                                    <div class="uk-overlay-area-content">
                                        <h1 data-uk-scrollspy="{cls:'uk-animation-fade'}">Braid Styles Gallery</h1>
                                        <a href="shop.html" class="uk-button bh-button-secondary bh-button-secondary" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 500}">Explore</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-2 uk-width-large-2-5">
                            <div class="uk-panel uk-panel-box">
                                <h1 class="uk-article-title">Brazilian Keratin Treatment</h1>
                                <p class="uk-article-lead">Call or Email to Book</p>
                                <p class="uk-margin-bottom">A braid works for any occasion and we do them all. From your standard french braid to the more complex braiding styles, we are trained to braid anything you can dream up.</p>
                                <a href="shop.html" class="uk-button bh-button-secondary">Book a Braid</a>
                            </div>
                        </div>
                    </div>
                </article>
            <hr class="uk-grid-divider">
        </article>
    </div>
</div>
{% endblock %}