{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Styles{% endblock %}

{% block content %}
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid" id="instagram-feed-container" data-uk-grid-margin>

            <!-- OLD WIDGET 
                <div class="uk-width-1-1">
                    <script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/4b89ed250fcfed937e620500d6bd4935d6b120ce.html" id="instansive_4b89ed250f" name="instansive_4b89ed250f"  scrolling="yes" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                </div>
            -->
            </div>
        </article>
    </div>
</div>
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-panel">
            <h1 class="home_subhead">That is just the beginning.</h1>
            <p class="home_subtext">Follow us on Instagram to see all of our recent styles.</p>
            <center>
                <style>.ig-b- { display: inline-block; }
                .ig-b- img { visibility: hidden; }
                .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
                .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
                @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
                <a href="http://instagram.com/blohaute?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
            </center>
        </div>
    </div>
</div>

{% endblock %}

{% block extrajs %}
<script>
$.ajax({ 
    type: 'GET', 
    url: 'https://api.instagram.com/v1/users/1278339987/media/recent/?client_id=1892f8ef853b43d9b60dad83a57c498a', 
    dataType: 'jsonp',
    // jsonp : "callback",
    // jsonpCallback: "jsonpcallback",
    success: function (data) { 
        $.each(data.data, function(index, instagram) {
            $('#instagram-feed-container').append($('<div class="uk-medium-width-1-3 uk-margin-large-bottom"><img src=' + instagram.images.low_resolution.url + ' alt="Blohaute Instagram Feed" class="instagram-image"/></div>'));
        });
    }
});
</script>
{% endblock %}