{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Stylists{% endblock %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	        <h1 class="uk-margin-remove">Our Team</h1>
            <p class="uk-text-muted bh-text-uppercase uk-margin-remove">Meet the team that is changing the game.</p>
	    </div>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
		<article class="uk-article">

			<div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
			<div class="uk-width-1-1">
	        				<p>Style is as unique as the individual who wears it, which is why Blohaute hires an eclectic mix of personalities to fit the style you’re aiming for. Employing only industry leading talent, Blohaute’s staff is comprised of curious trendsetters in the world of fashion and beauty, in a constant search for looks that break the mold.<br /> <br />
							When you style with us, you can guarantee a professional experience, in an ego and drama free environment, from the comfort of your home. That’s never going out of style.</p>
	        			</div>

			  	<div class="uk-width-small-1-2">
			    	<div class="uk-panel">
                        <img src="{% static 'images/amanda.jpg' %}" width="525" height="458" alt="Amanda Soltwisch, Founder and CEO of Blohaute">
                        <div class="uk-padding-top uk-clearfix stylists_name">
			      			<span class="uk-float-right">
				      			<a href="mailto:amanda@blohaute.com" class="uk-margin-right"><i class="uk-icon-envelope"></i></a>
				      			<a href="https://www.pinterest.com/blohaute" class="uk-margin-right"><i class="uk-icon-pinterest"></i></a>
				      			<a href="http://twitter.com/blohaute" class="uk-margin-right"><i class="uk-icon-twitter"></i></a>
				      			<a href="http://instagram.com/blohaute" class="uk-margin-right"><i class="uk-icon-instagram"></i></a>
				      		</span>
                            <h3 class="uk-margin-remove">Amanda</h3>
                            <span class="uk-text-muted bh-text-uppercase">Founder and CEO</span>
                        </div>
						<p>Based in Chicago, Diedrich owns and manages the Blohaute business, offering women stunning hair and beauty services in the comfort and convenience of their own home or office.</p>

						<p>After earning her cosmetology license from Tricoci University, Diedrich honed her skills as a Stylist at Asha SalonSpa and as a Colorist at Mario Tricoci. She is also certified in fusion and tape-in extensions. Her eye for beauty and patient, perfectionistic hands allow Diedrich to create her own unique take on trending hairstyles, leading the curve for hairstyle innovation and creativity.</p>
                    </div>
			  	</div>

			  	<div class="uk-width-small-1-2">
			    	<div class="uk-panel">
			    		<img src="{% static 'images/amanda-l.jpg' %}" width="525" height="458" alt="Team Member">
			    		<div class="uk-padding-top uk-clearfix stylists_name">
			      			<span class="uk-float-right">
				      			<a href="http://instagram.com/blohaute_mandy" class="uk-margin-right"><i class="uk-icon-instagram"></i></a>
				      		</span>
			      			<h3 class="uk-margin-remove">Mandy</h3>
			      			<span class="uk-text-muted bh-text-uppercase">Stylist & Makeup Artist</span>
			      		</div>
		      			<p>As another one of Blohaute's top stylists, Mandy has a true eye for hair. Gaining her education from Paul Mitchell Cosmetology School right here in Chicago, Mandy is filled with creativity.</p>

						<p>Specializing in blowouts & upstyles, Mandy is one of our Blohaute Braiding Queens!</p>

			    	</div>
			  	</div>
			</div>
			<div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
			  	<div class="uk-width-small-1-2">
			    	<div class="uk-panel">
			    		<img src="{% static 'images/tara.jpg' %}" width="525" height="458" alt="Team Member">
			    		<div class="uk-padding-top uk-clearfix stylists_name">
			      			<span class="uk-float-right">
				      			<a href="http://instagram.com/blohaute_tara" class="uk-margin-right"><i class="uk-icon-instagram"></i></a>
				      		</span>
			      			<h3 class="uk-margin-remove">Tara</h3>
			      			<span class="uk-text-muted bh-text-uppercase">Stylist</span>
			      		</div>
						<p>Specializing in long hair and blowouts, Tara gained her passion for beauty and hair at an early age. Tara recently received her Cosmetology License from Paul Mitchell Cosmetology School Chicago.</p>

						<p>Also an extremely talented Makeup Artist, Tara is the total beauty package!</p>
			    	</div>
			  	</div>
			  	<div class="uk-width-small-1-2">
			    	<div class="uk-panel">
			    		<img src="{% static 'images/morgan.jpg' %}" width="525" height="458" alt="Team Member">
			    		<div class="uk-padding-top uk-clearfix stylists_name">
			      			<span class="uk-float-right">
				      			<a href="http://instagram.com/blohaute_morgan" class="uk-margin-right"><i class="uk-icon-instagram"></i></a>
				      		</span>
			      			<h3 class="uk-margin-remove">Morgan</h3>
			      			<span class="uk-text-muted bh-text-uppercase">Stylist</span>
			      		</div>
							<p>Recently receiving her Cosmetology License from Paul Mitchell Cosmetology School in Chicago, Morgan can recreate almost any style.</p>

							<p>Specializing in upstyles and braids, Morgan loves creating styles that have never been done before!</p>


			    	</div>
			  	</div>
			</div>
			<div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
			  	<div class="uk-width-small-1-2 uk-width-medium-1-2">
			    	<div class="uk-panel">
			    		<img src="{% static 'images/april.jpg' %}" width="525" height="468" alt="Team Member">
			    		<div class="uk-padding-top uk-clearfix stylists_name">
			      			<span class="uk-float-right">
				      			<a href="http://instagram.com/apriltelman28" class="uk-margin-right"><i class="uk-icon-instagram"></i></a>
				      		</span>
			      			<h3 class="uk-margin-remove">April</h3>
			      			<span class="uk-text-muted bh-text-uppercase">Stylist</span>
			      		</div>
						<p>As one of the Lead Stylists for Blohaute, April has over 12 years of experience in the hair & beauty industry. Graduating from Kent Career Technical Institue with her Cosmetology License in 2002, April started her career in the beauty industry as a Cosmetology Instructor at Excel Academy in Grand Rapids, MI.</p>

						<p>Now a freelance hairstylist for Blohaute, April's previous work has been featured in Chicago Style Weddings, CS Magazine, and TCW Magazine. With an extreme passion for styling, April specializes in modern/classic upstyles and vintage/California waves under specialties for special events and weddings.</p>
			    	</div>
			  	</div>
			</div>
		</article>
	</div>
</div>
<span id="apply"></span>
<div class="bh-position bh-position-light">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel uk-panel-space">
			<div class="uk-grid uk-grid-divider" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
				<div class="uk-width-medium-2-6">
					<div class="uk-panel uk-text-right uk-text-center-small">
						<h1 class="uk-margin-small-top">Seeking Style Trailblazers</h1>
					</div>
				</div>
				<div class="uk-width-medium-4-6 uk-text-center-small">
					<p>Want to join the team that is changing the way people think about getting their hair done? Check out the posting below and see if it sounds like a fit. If it does, then click apply! </p>
				</div>
			</div>
	    </div>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	    	<div class="uk-grid" data-uk-grid-margin>

	        	<div class="uk-width-small-1-5" id="apply">
	        		<h3>Stylist</h3>
	        		<a href="mailto: hello@blohaute.com?subject=Blohaute%20Application" class="uk-button uk-button-primary">Apply</a>
	        	</div>

	        	<div class="uk-width-small-4-5">
	        		<div class="uk-grid" data-uk-grid-margin>

	        			<div class="uk-width-1-1">
	        				<p>Our staff is passionate about hair, and are true trailblazers in the world of style. Most importantly, our staff is dedicated to delivering for their clients, no matter the request. We believe an empowered, happy staff is a passionate one, which is why we give our stylists freedom to choose the hours that work best for them and their busy schedules.<br /><br /> 
							All we ask is that you’re available for our clients during the times that you sign-up for. We give this sort of freedom because we believe in everyone we hire and we believe that we’re the best in the biz.<br /><br />If this sounds like you, click here to apply for a stylist position today.</p>
	        			</div>

	        			<div class="uk-width-medium-1-2">
	        				<span class="bh-text-uppercase uk-text-muted">Responsibilities</span>
	        				<ul class="uk-list">
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Manage appointments</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Fulfill any style requested</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Timely and Professional</li>

	        				</ul>
	        			</div>

	        			<div class="uk-width-medium-1-2">
	        				<span class="bh-text-uppercase uk-text-muted">Requirements</span>
	        				<ul class="uk-list">
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Minumum 1 year salon experience</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Must be a freelance hair stylist</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Background Check</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Cosmetology License</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>In person meeting with founder</li>
	        				</ul>
	        			</div>

	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}