{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="bh-position bh-position-light bh-position-title">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	        <h1 class="uk-margin-remove">Our Team</h1>
            <p class="uk-text-muted bh-text-uppercase uk-margin-remove">Meet the team that is changing the game.</p>
	    </div>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
		<article class="uk-article">

			<div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">

			  	<div class="uk-width-small-1-2 uk-width-medium-1-3">
			    	<div class="uk-panel">
                        <img src="{% static 'images/amanda.jpg' %}" width="600" height="360" alt="Amanda Soltwisch, Founder and CEO of Blohaute">
                        <div class="uk-padding-top uk-clearfix stylists_name">
                            <h3 class="uk-margin-remove">Amanda D.</h3>
                            <span class="uk-text-muted bh-text-uppercase">Founder and CEO</span>
                        </div>
                        <p><b>Speciallties:</b> Blowouts, Bridal, and Braids.<br /><br />Loves educating other stylists on current trends and new styles<br /><br />Lead Style Expert of Fave4 Hair care line.</p>
                    </div>
			  	</div>

			  	<div class="uk-width-small-1-2 uk-width-medium-1-3">
			    	<div class="uk-panel">
			    		<img src="{% static 'images/amanda-l.jpg' %}" width="600" height="360" alt="Team Member">
			    		<div class="uk-padding-top uk-clearfix stylists_name">
			      			<h3 class="uk-margin-remove">Amanda L.</h3>
			      			<span class="uk-text-muted bh-text-uppercase">Stylist & Makeup Artist</span>
			      		</div>
			      		<p><b>Speciallties:</b> Blowouts and upstyles.<br /><br /><b>Education:</b> Paul Mitchell Cosmetology School<br /><br />Full time stylist for Blohaute, one of the first to join the Blohaute team.</p>
			    	</div>
			  	</div>

			  	<div class="uk-width-small-1-2 uk-width-medium-1-3">
			    	<div class="uk-panel">
			    		<img src="{% static 'images/tara.jpg' %}" width="600" height="360" alt="Team Member">
			    		<div class="uk-padding-top uk-clearfix stylists_name">
			      			<h3 class="uk-margin-remove">Tara</h3>
			      			<span class="uk-text-muted bh-text-uppercase">Stylist</span>
			      		</div>
			      		<p><b>Speciallties:</b> Blowouts and long hair.<br /><br /><b>Education:</b> Paul Mitchell Cosmetology School<br /><br />Full time stylist for Blohaute, one of the first to join the Blohaute team.</p>
			    	</div>
			  	</div>
			</div>
			<div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
				  	<div class="uk-width-small-1-2 uk-width-medium-1-3">
				    	<div class="uk-panel">
				    		<img src="{% static 'images/morgan.jpg' %}" width="600" height="360" alt="Team Member">
				    		<div class="uk-padding-top uk-clearfix stylists_name">
				      			<span class="uk-float-right">
					      			<a href="" class="uk-margin-right"><i class="uk-icon-twitter"></i></a>
					      			<a href="" class="uk-margin-right"><i class="uk-icon-instagram"></i></a>
					      		</span>
				      			<h3 class="uk-margin-remove">Morgan S.</h3>
				      			<span class="uk-text-muted bh-text-uppercase">Stylist</span>
				      		</div>
				      		<p><b>Speciallties:</b> Upstyles and braiding.<br /><br /><b>Education:</b> Paul Mitchell Cosmetology School<br /><br />Full time stylist for Blohaute, one of the first to join the Blohaute team.</p>
				    	</div>
				  	</div>
				</div>
		</article>
	</div>
</div>

<div class="bh-position bh-position-light">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel uk-panel-space">
			<div class="uk-grid uk-grid-divider" data-uk-grid-margin data-uk-grid-match="{target:'> div > .uk-panel'}">
				<div class="uk-width-medium-2-6">
					<div class="uk-panel uk-text-right uk-text-center-small">
						<h1 class="uk-margin-small-top">We are hiring!</h1>
					</div>
				</div>
				<div class="uk-width-medium-4-6 uk-text-center-small">
					<p>Want to join the team that is changing the way people think about getting their hair done? Check out the posting below and see if it sounds like a fit. If it does, then click apply! </p>
				</div>
			</div>
	    </div>
    </div>
</div>

<div class="bh-position">
	<div class="uk-container uk-container-center">
	    <div class="uk-panel">
	    	<div class="uk-grid" data-uk-grid-margin>

	        	<div class="uk-width-small-1-5">
	        		<h3>Stylist</h3>
	        		<a href="#" class="uk-button uk-button-primary">Apply</a>
	        	</div>

	        	<div class="uk-width-small-4-5">
	        		<div class="uk-grid" data-uk-grid-margin>

	        			<div class="uk-width-1-1">
	        				<p>Our stylists are top notch and know what it takes to manage their appointments appropriately.  We give our stylists the freedom to work hours that work best for them. We can only give this sort of freedom because we believe in who we hire and we believe that we are the best.</p>
	        			</div>

	        			<div class="uk-width-medium-1-2">
	        				<span class="bh-text-uppercase uk-text-muted">Responsibilities</span>
	        				<ul class="uk-list">
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Manage appointements</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Fufill any style requested</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Timely and Professional</li>
	        				</ul>
	        			</div>

	        			<div class="uk-width-medium-1-2">
	        				<span class="bh-text-uppercase uk-text-muted">Requirements</span>
	        				<ul class="uk-list">
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>Minumum 3 years salon experience</li>
	        					<li><i class="uk-icon-angle-right uk-margin-right"></i>In person meeting with founder</li>
	        				</ul>
	        			</div>

	        		</div>
	        	</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock %}