{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Styles{% endblock %}

{% block content %}
<div class="bh-position">
    <div class="uk-container uk-container-center">
        <article class="uk-article">
            <div class="uk-grid" data-uk-grid-margin>

                <div class="uk-width-1-1">
                    <!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/4b89ed250fcfed937e620500d6bd4935d6b120ce.html" id="instansive_4b89ed250f" name="instansive_4b89ed250f"  scrolling="yes" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                </div>
            </div>
        </article>
    </div>
</div>

{% endblock %}