{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}Profile{% endblock %}

{% block content %}

<div class="bh-position">
    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-divider" data-uk-grid-margin="">
            <div class="uk-width-small-1-3">
                <div class="uk-panel">
                    <img src="{% static 'images/funny-girl.jpg' %}" width="600" height="360" alt="Amanda Soltwisch, Founder and CEO of Blohaute">
                    <div class="uk-margin-top uk-clearfix">
                        <h3 class="uk-margin-remove">{{user.first_name}} {{user.last_name}}</h3>
                    </div>
                </div> 
            </div>

            <div class="uk-width-small-2-3">
                <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#shop-single-details'}">
                        <li class="uk-width-1-2 uk-active"><a href="#">Upcoming Appointments</a></li>
                        <li class="uk-width-1-2"><a href="#">Past Appointments</a></li>
                    </ul>
                    <ul id="shop-single-details" class="uk-switcher">
                       {% include 'profile_snippets/upcoming_appointments.html' %}
                       {% include 'profile_snippets/past_appointments.html' %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="uk-grid uk-margin-large-top" data-uk-grid-margin>
                {% if series %}
            <div class="uk-width-1-1">
                    <h2 class="bh-headline-bottom-border"><span>Your Purchased Bookable Appointments to Schedule</span></h2>
                    <!-- BUTTON FOR PEOPLE WHO DONT WANT TO SCHEDULE RIGHT NOT AND JUST WANT TO STORE THEIR APPOINTMENTS UNDER THEIR ACCOUNT -->
            </div>
            <div class="uk-width-medium-1-2">
                <form method="POST">
                    {% csrf_token %}
                    {{service_formset.management_form}}

                    <table class="uk-table uk-table-middle uk-text-nowrap">
                        <thead>
                            <tr>
                                <th>Service</th>
                                <th class="uk-text-center">Quantity</th>
                                <th class="uk-text-center">Remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in service_formset %}
                                <tr>
                                    <td><a href="{% url 'treatment_detail' form.treatment.slug %}">{{form.treatment.name}} {{form.treatment_id}}</a></td>
                                    <td>{{form.quantity}}{{form.quantity.errors}}</td>
                                    <td>{{form.series.remaining}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>    
                    <button class="uk-button uk-button-success">Schedule Now <i class="uk-icon-calendar"></i></button>
                </form>

            </div>

            <div class="uk-width-medium-1-2">
            </div>
        </div>
                {% else %}
                {% endif %} 

        <div class="uk-width-small-1-1">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                <ul class="uk-tab uk-tab-grid" data-uk-tab="{connect:'#account-info-details'}">
                    <li class="uk-active"><a href="">Change Password</a></li>
<!--                     <li><a href="">Billing Info</a></li>
 -->                    <li><a href="">Change Email</a></li>
                    <li><a href="">Delete Account</a></li>
                </ul>
                <ul id="account-info-details" class="uk-switcher uk-margin">
                    <li>
                        {% include "registration/password_update.html" %} 
                    </li>
<!--                     <li>
                        <div class="uk-grid">
                            <div class="uk-width-1-10">
                                <i id="personal_info_home" class="uk-icon uk-icon-home"></i>
                            </div>

                            <div class="uk-width-9-10">
                                <a href="">717 West Roscoe</a><br />
                                <a href="">Chicago, IL</a><br />
                                <a href="">60657</a><br /><br />
                                <button class="uk-button uk-button-success">Change Address</button>
                            </div>

                        </div>
                    </li>
 -->                    <li>
                        {% include "registration/email_update.html" %}
                    </li>
                    <li>
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                            <a href="{% url 'delete_user' %}" class="uk-button uk-button-danger">Delete Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br /><br />
{% endblock %}